.App {
  text-align: center;
}

.header {
  background-color: #00b5db;
  height: 80px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 26px;
  color: white;
  padding: 20px;
  margin-bottom: 30px;
}

.item {
  width: 70%;
  padding: 0.5em 1em;
  margin: 1.2em auto;
  background: white;
  box-shadow: 0 3px 5px rgba(0, 0, 0, 0.22);
  color: #4a4a4a;
}

.item h2 {
  padding: 0.5em 0.5em;
  text-align: left;
  line-height: 1.4em;
  font-size: 20px;
}

.link-button {
  padding: 5px;
  color: #fff;
  font-size: 16px;
  background-color: #00b5db;
  width: 50%;
  cursor: pointer;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  border: none;
  height: 50px;
  margin-top: 10px;
  margin-bottom: 10px;
}

.link-button:hover {
  background-color: #007f9b;
}

.link-error {
  color: #a3a3a3;
  padding: 16px;
}

.description {
  padding: 0.5em 1em;
  line-height: 1.8em;
  text-align: left;
}

.errorMessage {
  margin: auto;
  font-weight: bold;
  color: rgb(161, 15, 15);
}

.search {
  justify-content: center;
  margin-top: 10px;
  margin-bottom: 30px;
}

input[type="submit"] {
  padding: 10px;
  color: #fff;
  font-size: 20px;
  background-color: #00b5db;
  width: 40%;
  cursor: pointer;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  height: 60px;
  margin-top: 20px;
}

input[type="submit"]:hover {
  background-color: #007f9b;
}

input[type="text"] {
  width: 60%;
  padding-left: 10px;
  font-size: 20px;
  border-color: #4a4a4a;
  border: 2px solid #4a4a4a;
  border-radius: 4px;
  height: 60px;
}

input[type="text"]:focus {
  outline: none;
}

@media screen and (max-width: 767px) {
  .item {
    width: 86%;
    padding-bottom: 1em;
  }

  input[type="submit"] {
    color: #fff;
    font-size: 20px;
    background-color: #00b5db;
    width: 60%;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    margin-top: 10px;
    height: 50px;
    font-size: 18px;
  }

  input[type="text"] {
    width: 90%;
    font-size: 18px;
    border-color: #4a4a4a;
    border: 2px solid #4a4a4a;
    border-radius: 4px;
    height: 40px;
  }

  .link-button {
    width: 70%;
  }
}
